# pip install -r requirements.txt

matplotlib==3.6.2
networkx==2.8.8     # Newer versions available
numpy==1.24.1
pandas==1.5.2
pyLDAvis==3.2.2     # Newer versions available
gensim==4.3.0
pyvis==0.3.1
scipy==1.9.3        # Newer versions available
wordcloud==1.8.2.2